* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
}
::-webkit-scrollbar {
  display: none;
}
#bodyContainer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 16vh;
}
/* LOGO */
#navbar img {
  height: 1.6em;
  filter: drop-shadow(0px 0px 0px red) invert(75%);
}
/* Hamburger Button */
#hamburger {
  display: none;
}
/* Menu */
#menu {
  display: flex;
  gap: 3.5em;
}
#menu span {
  color: rgb(134, 133, 133);
  font-weight: 500;
}
#menu span:hover {
  color: black;
  font-weight: 600;
}
/* Logging */
#logging {
  display: flex;
  gap: 3em;
}
#logging button {
  border: none;
  color: rgb(134, 133, 133);
  font-weight: 500;
  background-color: white;
  text-wrap: nowrap;
}
#logging button:hover {
  border: none;
  color: rgb(0, 0, 0);
  background-color: white;
  text-wrap: nowrap;
}
#logging #signUp {
  color: white;
  font-weight: 600;
  background-color: #1ea5c4;
  padding: 0.4em 0.6em;
  border-radius: 7%;
  text-wrap: nowrap;
}
#logging #signUp:hover {
  color: white;
  font-weight: 500;
  background-color: #4c42e1;
  border-radius: 7%;
  text-wrap: nowrap;
}

/* Main */
#main {
  position: relative;
  height: 120vh;
}
#mainBG {
  width: 100%;
  height: 85vh;
  position: relative;
  overflow: hidden;
  border-radius: 35px;
  image-resolution: 300dpi;
  background-image: url(BG.jpg);
  background-size: cover;
  background-position: center;
}

#mainBG #title {
  position: absolute;
  width: 70%;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 120%;
  z-index: 1;
}
#mainBG #subtitle {
  position: absolute;
  width: 50%;
  text-align: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-weight: 500;
  z-index: 1;
}

#main #calendar {
  position: absolute;
  z-index: 1;

  width: 85%;
  height: 32vh;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 0px 55px rgba(87, 87, 87, 0.21);
  color: rgb(0, 0, 0);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.2em 2.3em;
}
#main #calendar #nav {
  justify-content: space-between;
  display: flex;
}
#main #calendar #nav #menu {
  display: flex;
  font-size: medium;
}
#main #calendar #nav #menu #hostelry {
  text-decoration: underline black;
  text-underline-offset: 20px;
}

#main #calendar #nav #search {
  display: flex;
  align-items: center;
  gap: 0.8em;
  font-size: small;
}
#main #calendar #nav #search:hover {
  color: black;
  font-weight: 600;
}
#main #calendar #nav #search {
  color: rgb(134, 133, 133);
  font-weight: 500;
}
#main #calendar #nav #search i {
  font-size: smaller;
}

#main #calendar #title {
  display: flex;
  gap: 1em;
  width: 83%;
  justify-content: space-between;
}
#main #calendar #title span {
  width: 25%;
  text-align: left;
  color: rgb(134, 133, 133);
  font-weight: 500;
}
#main #calendar #title span:hover {
  color: black;
  font-weight: 600;
}
#main #calendar #info {
  display: flex;
  margin-top: 1em;
  gap: 2em;
  justify-content: space-between;
}
#main #calendar #info div {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding-left: 0.7em;
  background-color: #f7f7f7;
  color: rgb(134, 133, 133);
}
#main #calendar #info #forms {
  display: flex;
  gap: 2em;
  background-color: transparent;
}
#main #calendar #info input {
  text-align: left;
  border: none;
  font-weight: 500;
  margin: 0;
}
#main #calendar #info input::placeholder {
  padding-left: 1em;
  font-size: 0.85em;
  color: rgba(0, 0, 0, 0.688);
}
#main #calendar #info button {
  border: none;
  border-radius: 4px;
  gap: 0.3em;
  font-size: 1em;
  align-items: center;

  display: flex;
  background-color: #1aaac4;
  padding: 0.02em 1.5em;
  color: white;
}
